html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #4b77c4;
}


* {
  box-sizing: border-box;
}

.deleteicon:hover {
  color: red;
  transition: all 0.5s ease;
}